.app {
  background: url("../assets/bg-sidepanda.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.apt-booking-wrapper {
  padding: 40px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  background: white;
}

.apt-booking {
  display: flex;
  border-radius: 16px;
}

.apt-booking-form {
  z-index: 1;
}

.calender-wrapper {
  padding: 40px;
  background: var(--grey);
  border-radius: 12px 0 0 0;
}

.calender-title {
  font-size: 24px;
  font-weight: 600;
}

.calender-timezone {
  margin-bottom: 16px;
  display: flex;
  gap: 4px;
}

.timezone-title {
  font-weight: 600;
}

.timezone,
.timezone-title {
  font-size: 14px;
  color: var(--dark2);
}

.appointment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0 0 10px 10px;
  padding: 20px;
  background: var(--primary);
}

.powered-by-wrapper {
  display: flex;
  gap: 2px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.powered-by-name {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  border-radius: 10px;
  padding: 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  color: var(--dark2);
  font-weight: 600;
  font-size: 14px;
  font-family: Poppins;
  outline: none;

  border: none;
  cursor: pointer;
}

.bg-circle-left {
  position: absolute;
  bottom: -20px;
  left: 100px;
  opacity: 20%;
}
.bg-circle-right {
  position: absolute;
  top: -160px;
  right: 0;
  opacity: 20%;
}
.bg-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.bg-right {
  position: absolute;
  bottom: 120px;
  right: 0;
}

@media screen and (max-width: 872px) {
  .apt-booking {
    flex-direction: column;
  }
  .calender-wrapper {
    border-radius: 12px 12px 0 0;
  }
}

@media screen and (max-width: 452px) {
  .calender-wrapper {
    padding: 40px 16px;
  }
  .bg-circle-right {
    width: 100%;
  }
  .bg-circle-left {
    left: 0;
    width: 100%;
  }

  .bg-left {
    left: 0;
    width: 100%;
  }
  .bg-right {
    width: 100%;
  }
}
